p{
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
    font-style: normal;
    font-variant: normal;
    color: rgb(10, 212, 219);
    text-align: center;
}
input{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color: white;
    text-align: center;
}
body{
    background-color: black;
    align-items: center;
}
link{
    color: darkorange;
}
button{
    color: white;
    background-color: darkorange;
    padding: 5px;
}
h1{
    color: white;
    font-size: large;
}
h2{
    color: white;
}
a{
    color: darkorange;
    font-size: large;
}
ol{
    color: rgb(10, 212, 219);
}
label{
    color: rgb(10, 212, 219);
}
input{
    color: black;
    
}
img{

    align-items: center;
    
}
